<div class="twitter-feed">
  <h2>Latest from X</h2>
  <a class="twitter-timeline"
     data-height="400"
     data-theme="light"
     data-chrome="noheader nofooter noborders transparent"
     href="https://twitter.com/{{ site.author.twitter }}?ref_src=twsrc%5Etfw">
     Loading tweets...
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <p class="twitter-link">
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener">Follow @{{ site.author.twitter }} on X</a>
  </p>
</div>
